<aside>
  <% @genres.each do |genre| %>
    <li class="genres"><%= link_to genre.name, "#", :style=>"color:white;" %></li>
  <% end %>
</aside>
<main>
  <div class="mainleft">NEW</div>
  <div class="mainright">Featured last month</div>
</main>
<div class="card cl">
  <% @categories.each do |category| %>
    <%= category.name %>
    <% category.sub_categories.each do |sub_category| %>
      <%= link_to sub_category.name, "#" %>
    <% end %>
  <% end %>
</div>
<div class="card cr">
  <div class="five">5</div>
  <div class="six">6</div>
  <div class="seven">7</div>
  <div class="eight">8</div>
</div>
<div class="advertisement">advertisement</div>