<aside>
  <% @genres.each do |genre| %>
    <li class="genres"><%= link_to genre.name, "#", :style=>"color:white;" %></li>
  <% end %>
</aside>
<main>
  <div class="mainleft">NEW</div>
  <div class="mainright">Featured last month</div>
</main>
<div class="card cl">
  <div class="postcard">
    <% @posts.each do |post| %>
      <div class="genrename">
        <%= post.sub_category.category.genre.name %>
      </div>
      <div class="posttitle"><%= link_to post.title, "#" %></div>
      <div class="author">Author：<%= link_to post.user.name, "#" %></div>
      <div class="info">
        <i class="far fa-thumbs-up"></i>
        <i class="fas fa-thumbs-up"></i>
        <i class="far fa-thumbs-down"></i>
        <i class="fas fa-thumbs-down"></i>
        <i class="far fa-comment"></i>
        <i class="far fa-play-circle"></i>
        <i class="fal fa-calendar-edit"></i>
      </div>
    <% end %>
  </div>
</div>
<div class="card cr">
  <div class="five">5</div>
  <div class="six">6</div>
  <div class="seven">7</div>
  <div class="eight">8</div>
</div>
<div class="advertisement">advertisement</div>