/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

header {
    padding: 5px,5px;
    border-bottom: solid #cccccc;
}

section {
    overflow: auto;
}

body {
    padding-top: 50px;
}

aside{
    margin: 5px;
    background-color: #287BFF;
}

.main{
    margin: 5px;
}

article{
    margin: 5px;
}

.box1{
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    background-color: #F29F05;
    color: white;
}

.box2{
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    background-color: #BFBFBF;
    color: white;
}