/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=ubunth:wght@300;400;500;700&display=swap');

body {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-areas:
    "h  h   h   h"
    "s  t   t   a"
    "s  cl  cr  a";
  height: 100vh;
}

header {
  grid-area: h;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 50px;
}

.header-button {
  background-color: #287bff;
  border-radius: 5px;
  color: white;
  margin-right: 8px;
  padding: 6px 15px;
  border: none;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

aside {
  grid-area: s;
  background-color: #287bff;
  list-style: none;
}

.genres {
  padding: 10px 10px;
}

main {
  grid-area: t;
  display: flex;
  justify-content: space-around;
}

.mainleft {
  background-color: #f29f05;
  width: 90vh;
  margin: 5px 10px;
  padding: 5px 0px;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.mainright {
  background-color: #bfbfbf;
  width: 90vh;
  margin: 5px 10px;
  padding: 5px 0px;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.card {
  display: grid;
  grid-gap: 5px;
  grid-auto-rows: 500px;
  overflow: auto;
}

.cl {
  grid-area: cl;
}

.cr {
  grid-area: cr;
}

.five {
  background: green;
}
.six {
  background: indigo;
}
.seven {
  background: red;
}
.eight {
  background-color: aqua;
}

.advertisement {
  grid-area: a;
  background-color: yellow;
}

/*forms*/

.row {
  .col-md-6 {
    padding-top: 10px;
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto in !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}